*{
    margin: 0px;
    padding: 0px;
}

body { background-color: #f8f9fa; }
.quiz-container { max-width: 600px; margin: 50px auto;
     padding: 20px; background: white; border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: none; }
.timer { font-size: 20px; font-weight: bold; color: red; }
.correct { background-color: #d4edda; }
.incorrect { background-color: #f8d7da; }
.progress-container { text-align: center; margin-bottom: 10px; font-weight: bold; }